
		body{
				background: #cccccc;
		}
		
		p {
		text-align: justify;
		font-size: 18px;
		}
		
		#missao {
		color:  #990000;
		}
		
		#localiza {
		color: #009900;
		}
		
		#oferece{
		color: #000099;
		}
		
		h1 {
		text-align: center;
		}
		
		em strong {
		color: #aa0000;
		}
		
		img{
		}
		#img_banner {
		align: center;
		width: 100%;
		}
